/*Portfolio style sheet*/
* {
	font-family: "Avantgarde", Helvetica, sans-serif;
	font-weight: 200;
	margin: 10px;
	padding: 30px;
}

h1 {
	 text-shadow: 0px 0.1px;
}

p::first-letter { 
    font-size: 101%;
}

.media  {
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

.media1  {
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

.media2{
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

figure #right{
	float: right;
	clear: right;
	padding: 0;
	margin: 0;
}

#index {
	background-image: url("images/road1.jpg");
}

figure #left{
	float: left;
	clear: left;
	padding: 0;
	margin: 0;
}

figcaption#title {
  display: block;
  padding: 0.5em 0;
  width: 100%;
}

figcaption {
  display: block;
  padding: 0.5em 0;
  width: 100%;
}

div#hmenu { 
   padding-top: 0px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-left: 0px;
   width: 100%; 
   text-align: center; 
   position: static;
} 

div#hmenu ul li { 
   margin: 0; 
   padding: 50; 
   display: inline; 
} 

div#hmenu ul a:link{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: 200; 
   font-size: medium; 
} 

div#hmenu ul a:active{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: 200; 
   font-size: medium; 
} 

div#hmenu ul a:hover{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: 200; 
   font-size: medium; 
}



